version: '3.8'

services:
  db:
    image: postgres:16
    container_name: mi-postgres
    environment:
      POSTGRES_USER: usuario
      POSTGRES_PASSWORD: ***REMOVED***
      POSTGRES_DB: almacen_db_dev

    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
